.admin-table-root {
    margin-top: 35px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: calc(100% - 70px);
    display: block;
    justify-content: center;

    font-family: 'Hanken Grotesk', sans-serif;
}

.admin-table-add-button {
    margin-top: 25px;
}

.add-group-field-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.add-group-button-section {
    margin-top: 15px;
}