.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.span2 {
    grid-column: span 2;
}
.span3 {
    grid-column: span 3;
}
.span4 {
    grid-column: span 4;
}
.span5 {
    grid-column: span 5;
}